<script type="text/ng-template" id="blueprint_upload_popup.html">

	<div class="b2b-modal-header ng-scope">
		<h2 id="myModalLabel" modal-title="">{{ecdapp.label}}</h2>
		<div class="corner-button in">
			<button type="button" class="close" aria-label="Close"
				ng-click="$dismiss('cancel')"></button>
		</div>
	</div>

	<div class="b2b-modal-body ng-scope ng-isolate-scope" tabindex="0"
		role="region" aria-label="Modal body content">

		<div class="row-nowrap">
			<div class="span12">
				<div class="form-row">
					<label for="blueprintId">*Blueprint ID</label>
					<div class="field-group">
						<!--autofocus is HTML5 attribute; doesn't work in Firefox-->
						<input id="blueprintId" class="span12" type="text" data-ng-model="ecdapp.editBlueprint.blueprint_id" autofocus>
					</div>
				</div>
			</div> 
		</div>			
			
		<div class="row-nowrap">
			<div class="span12">
				<div class="form-row">
					<label for="blueprintFileName">*File Name</label>
					<div class="field-group">
						<input id="blueprintFileName" class="span12" type="text" data-ng-model="ecdapp.editBlueprint.blueprint_filename">
					</div>
				</div>			
			</div>
		</div>

		<div class="row-nowrap">
			<div class="span12">
				<div class="form-row">
					<label for="zipFileUrl">*Zip File URL</label>
					<div class="field-group">
						<input id="zipFileUrl" class="span12" type="text" data-ng-model="ecdapp.editBlueprint.zip_url">
					</div>
				</div>			
			</div>
		</div>

	</div>

	<div class="b2b-modal-footer ng-scope ng-isolate-scope">
		<div class="cta-button-group in">
			<button class="btn btn-alt btn-small" type="button"
					ng-click="ecdapp.uploadBlueprint(ecdapp.editBlueprint);">
				Save
			</button>
			<button class="btn btn-small" type="button"
				ng-click="$dismiss('cancel')">
				Cancel
			</button>
		</div>
	</div>

</script>

<script type="text/ng-template" id="blueprint_view_popup.html">

	<div class="b2b-modal-header ng-scope">
		<h2 id="myModalLabel" modal-title="">{{ecdapp.label}}</h2>
		<div class="corner-button in">
			<button type="button" class="close" aria-label="Close"
				ng-click="$dismiss('cancel')"></button>
		</div>
	</div>

	<div class="b2b-modal-body ng-scope ng-isolate-scope" tabindex="0"
		role="region" aria-label="Modal body content">

	 	<!-- show progress indicator -->
		<div ng-show="ecdapp.isDataLoading">
			<div class="span" style="margin-bottom:20px;">
    			<i class="icon-primary-spinner small" role="img" aria-label="Please wait while the content loads"></i>
	    		Please wait while the content loads.
	    	</div>
		</div>

		<div ng-show="ecdapp.errMsg">
			<span class="ecd-error-message">{{ecdapp.errMsg}}</span>
		</div>
	
		<div ng-hide="ecdapp.errMsg">
			<pre>{{ecdapp.blueprint}}</pre>
		</div>

	</div>

	<div class="b2b-modal-footer ng-scope ng-isolate-scope">
		<div class="cta-button-group in">
			<button class="btn btn-alt btn-small" type="button"
					ng-click="$dismiss('cancel');">
				Close
			</button>
		</div>
	</div>

</script>

<script type="text/ng-template" id="blueprint_deploy_popup.html">

	<style>
	.ecd-parameter-table
	{
	    border:   1px;
    	overflow: auto;
	}
	.ecd-parameter-table th 
	{
		font-size: 1.4rem;
	}
	</style>

	<div class="b2b-modal-header ng-scope">
		<h2 id="myModalLabel" modal-title="">{{ecdapp.label}}</h2>
		<div class="corner-button in">
			<button type="button" class="close" aria-label="Close"
				ng-click="$dismiss('cancel')"></button>
		</div>
	</div>

	<div class="b2b-modal-body ng-scope ng-isolate-scope" tabindex="0"
		role="region" aria-label="Modal body content">
 
		<div class="row-nowrap">
			<div class="span12">
				<label for="blueprintFileName">*Deployment ID</label>
				<!--autofocus is HTML5 attribute; doesn't work in Firefox-->
				<input id="blueprintFileName" class="span12" type="text" data-ng-model="ecdapp.editRequest.deployment_id" autofocus/>
			</div>
			<div class="span12">
				<label for="blueprintId">Blueprint ID</label>
				<!--not editable-->
				<input id="blueprintId" class="span12" type="text" disabled="disabled" data-ng-model="ecdapp.editRequest.blueprint_id"/>
			</div> 
		</div>			
			
		<div class="row-nowrap">
			<div class="span12">
				<div class="form-row">
					<label for="parameters">*Parameters</label>
   					<div b2b-file-drop file-model="ecdapp.editRequest.fileModel" on-drop="handleFileSelect()" align="center">
    						<span b2b-file-link file-model="ecdapp.editRequest.fileModel" on-file-select="handleFileSelect()" >
    						Drag &amp; drop a parameters YAML file here, or click to browse.
   							</span>
			        </div>
		        </div>
				<div class="ecd-parameter-table">
					<table id="parameters">
						<tr id="ecd-table-header">
							<th width="40%">Name</th>
							<th width="60%">Value</th>
						</tr>
	            		<tbody ng-repeat="(pkey, pval) in ecdapp.editRequest.parmFileDict">
							<tr id="tr-rowData">
								<td ng-bind="pkey"/>
								<td ng-bind="pval"/>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<div class="b2b-modal-footer ng-scope ng-isolate-scope">
		<div class="cta-button-group in">
			<button class="btn btn-alt btn-small" type="button"
					ng-click="ecdapp.deployBlueprint(ecdapp.editRequest);">
				Save
			</button>
			<button class="btn btn-small" type="button"
				ng-click="$dismiss('cancel')">
				Cancel
			</button>
		</div>
	</div>

</script>
