<div id="page-content">

	<h1 class="heading-page" id="controllers">ECOMP-C Instances</h1>
	
   	<!-- show progress indicator -->
	<div ng-show="ecdapp.isDataLoading">
		<div class="span" style="margin-bottom:20px;">
    		<i class="icon-spinner small" role="img" aria-label="Please wait while the content loads"></i>
    		Please wait while the content loads.
	    </div>
	</div>

	<div ng-hide="ecdapp.isDataLoading">
		
		<div id="button-search-row">
			<div style="float:right;">
		           <div class="form-field form-field__small"> 
					<input 
						type="text"
						placeholder="Search Controllers"
						ng-model="ecdapp.searchString"/>
				</div>
			</div>
		</div>

		<div ng-show="ecdapp.isRequestFailed">
			<span class="ecd-error-message">{{ecdapp.errMsg}}</span>
		</div>
	
		<div ng-hide="ecdapp.isRequestFailed">
	
	    	<div 
	    		b2b-table 
	    		id="controllers-table"
	    		class="b2b-table-div" 
	    		table-data="ecdapp.tableData" 
	    		search-string="ecdapp.searchString" 
	    		current-page="ecdapp.currentPageIgnored"
	    		next-sort="ecdapp.nextSortIgnored">
	
		        <table>
		        
		            <thead b2b-table-row type="header">	
						<tr id="th-header-row">
							<th b2b-table-header sortable="false">Selected</th>
							<th b2b-table-header key="name">Name</th>
							<th b2b-table-header key="url">URL</th>
						</tr>
					</thead>
					
		            <tbody b2b-table-row type="body" row-repeat="rowData in ecdapp.tableData">
						<tr id="tr-rowData">
							<td b2b-table-body>
            					<label class="radio">
            						<input
            							type="radio" 
										name="ecdSelGroup" 
										title="rowData.url"
										ng-value="rowData.url" 
										ng-model="ecdapp.radiobutton.url"
										ng-change="ecdapp.selectController(rowData);">
	                					<i class="skin"></i>
	                					<span></span>
                				</label>
							</td>
							<td b2b-table-body
								ng-bind="rowData.name"/>
							<td b2b-table-body
								ng-bind="rowData.url"/>
						</tr>
					</tbody>
				</table>
			</div> 
		
			<!-- no pagination -->
			
		</div>
		
		<div style="height: 10px;">
			<!-- space between page number and black footer -->
		</div>
		
	</div><!-- loading -->
	
</div><!-- page content -->
