[access]
	inheritFrom = All-Projects
[project]
	description = Dashboard
	state = read only
[allowSuperproject "doc"]
	matching = refs/heads/master:refs/heads/master
[access "refs/*"]
	owner = group saml/onap-gerrit-ccsdk-dashboard-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
