[access]
	inheritFrom = All-Projects
[project]
	description = Dashboard
[allowSuperproject "doc"]
	matching = refs/heads/master:refs/heads/master
[access "refs/*"]
	owner = group ldap/onap-gerrit-ccsdk-dashboard-committers
	owner = group saml/onap-gerrit-ccsdk-dashboard-committers
	read = group GitHub Replication
