<div id="page-content">

	<h1 class="heading-page" id="consul_services">Monitored Services</h1>

	<!-- show progress indicator -->
	<div ng-show="ecdapp.isDataLoading">
		<div class="span" style="margin-bottom: 20px;">
			<i class="icon-primary-spinner small" role="img"
				aria-label="Please wait while the content loads"></i> Please wait
			while the content loads.
		</div>
	</div>

	<div ng-hide="ecdapp.isDataLoading">

		<div id="button-search-row">
			<button class="btn btn-alt btn-small" 
				type="submit"
				ng-click="ecdapp.registerServiceModalPopup();"> 
				Register Service...
			</button>
			<div style="float: right;">
				<div class="form-field form-field__small">
					<input type="text" placeholder="Search Services"
						ng-model="ecdapp.searchString" />
				</div>
			</div>
		</div>

		<div ng-show="ecdapp.isRequestFailed">
			<span class="ecd-error-message">{{ecdapp.errMsg}}</span>
		</div>

		<div ng-hide="ecdapp.isRequestFailed">

			<div b2b-table id="consul-services-table" class="b2b-table-div"
				table-data="ecdapp.tableData" search-string="ecdapp.searchString"
				current-page="ecdapp.currentPageIgnored"
				next-sort="ecdapp.nextSortIgnored">

				<table>

					<thead b2b-table-row type="header">
						<tr id="th-header-row">
							<th b2b-table-header key="serviceName">Service Name</th>
							<th b2b-table-header key="serviceID">Service ID</th>
							<th b2b-table-header key="node">Node Name</th>
							<th b2b-table-header key="status">Status</th>
							<th b2b-table-header key="notes">Notes</th>
							<th b2b-table-header key="output">Output</th>
				  			<th b2b-table-header sortable="false"><i class="icon-controls-gear ecd-icon-display"></i></th>
						</tr>
					</thead>

					<tbody b2b-table-row type="body"
						row-repeat="rowData in ecdapp.tableData">
						<tr id="tr-rowData">
							<td b2b-table-body ng-bind="rowData.serviceName" />
							<td b2b-table-body ng-bind="rowData.serviceID" />
							<td b2b-table-body ng-bind="rowData.node" />
							<td b2b-table-body ng-bind="rowData.status" />
							<td b2b-table-body ng-bind="rowData.notes" />
							<td b2b-table-body ng-bind="rowData.output" />
							<td b2b-table-body> 
						    	<div ng-click="ecdapp.viewHealthHistoryModalPopup(rowData);">
						    		<a href="" title="View history" class="icon-datanetwork-history ecd-icon-action"></a>
						    	</div>
						    	<div ng-click="ecdapp.deregisterServiceModalPopup(rowData);">
						    		<a href="" title="Deregister service" class="icon-misc-trash ecd-icon-action"></a>
						    	</div>
					     	</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div b2b-pagination="" total-pages="ecdapp.totalPages"
				current-page="ecdapp.currentPageNum"
				click-handler="pageChangeHandler" role="navigation"></div>


		</div>
		<!-- error -->

		<div style="height: 10px;">
			<!-- space between page number and black footer -->
		</div>

	</div>
	<!-- loading -->

</div>
<!-- page content -->
