<script type="text/ng-template" id="ecompc_instances_popup.html">
<style>
	.ecd-parameter-table
	{
		border:   1px;
		width:  550px;
		height: 225px;
    	overflow: auto;
	}
	.modal
	{
		display:block
	}
	.radio input:checked + .skin:after{
		height: 22px;
		width: 22px;
	}
	.close-button
	{
	background: #0568ae; 
	color: #ffffff;"; 
	}

</style>

	<div class="b2b-modal-header ng-scope">
		<h1 class="heading-page" id="controllerInstance">Select ECOMP-C Instance</h1>
		<div class="corner-button in">
			<button type="button" class="close" aria-label="Close"
				ng-click="$dismiss('cancel')"></button>
		</div>
	</div>

	<div class="b2b-modal-body ng-scope ng-isolate-scope" tabindex="0"
		role="region" aria-label="Modal body content"> 

		<div b2b-table 
	    	id="controllers-modal"
		    class="b2b-table-div" 
		    table-data="ecdapp.tableData" 
	    	search-string="ecdapp.searchString" 
	 		current-page="ecdapp.currentPageIgnored"
	   		next-sort="ecdapp.nextSortIgnored">
			<table>		        
		    	<thead b2b-table-row type="header">	
					<tr id="th-header-row">
						<th b2b-table-header sortable="false">Selected</th>
						<th b2b-table-header key="name">Name</th>
						<th b2b-table-header key="url">URL</th>
					</tr>
				</thead>
					
            	<tbody b2b-table-row type="body" row-repeat="rowData in ecdapp.tableData">
					<tr id="tr-rowData">
						<td b2b-table-body>
            				<label class="radio">
            					<input
            						type="radio" 
									name="ecdSelGroup" 
									title="rowData.url"
									ng-value="rowData.url" 
									ng-model="ecdapp.radiobutton.url"
									ng-change="ecdapp.selectController(rowData);">
	                					<i class="skin"></i>
	                					<span></span>
                			</label>
						</td>
						<td b2b-table-body
							ng-bind="rowData.name"/>
						<td b2b-table-body
							ng-bind="rowData.url"/>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="b2b-modal-footer ng-scope ng-isolate-scope">
		<div class="cta-button-group in">
			<button class="btn btn-small close-button" type="button" ng-click="$close()">
				Close
			</button>
		</div>
	</div>

</script>
