/* Basic styling */

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 7px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.orgChart .label_node{
	padding-bottom: 5px;
}

.orgChart .icon-span{
	float:left;width:25px;
	padding-top: 3px;
}
.orgChart .title-span{
	width:110px;float:left; font-size:14px;
	padding-top: 3px;
}

/* Draw the lines */
.jOrgChart{
	position: relative;
	/*  left: 245px; */
	width:100%;
	min-width: 100%;
	overflow-x: auto;
	
}
.jOrgChart .line {
  height                : 20px;
  width                 : 4px;
}

.jOrgChart .down {
  background-color 		: black;	
  margin 				: 0px auto;
}

.jOrgChart .top {
  border-top          : 3px solid black;
}

.jOrgChart button{
	min-width		: 20px;
	width			: 20px;
	height			: 20px;
	padding			: 0;
}

.jOrgChart .dropdown{
	display: inline-block;
}

.jOrgChart .downloadIcon{
	    position: relative;
    left: 1px;
    float:left;
}

.jOrgChart .ddIcon{
	position: relative;
    float: right;
    top: 6px;
}

.jOrgChart .left {
  border-right          : 2px solid black;
}

.jOrgChart .right {
  border-left           : 2px solid black;
}

/* node cell */
.jOrgChart td {
  text-align            : center;
  vertical-align        : top;
  padding               : 0 !important;
  border				: none;
  border-bottom         : 1px solid white;
}

/* The node */
.jOrgChart .node {
  background-color 		: #efefef;
  display               : inline-block;
  width                 : 180px;
  height                : 200px;
  z-index 				: 10;
  margin               : 0 2px;
}

.expandBtn {
	background-color: #efefef;
	padding-top:9px; 
}

/* jQuery drag 'n drop */

.drag-active {
  border-style			: dotted !important;
}

.drop-hover {
  border-style			: solid !important;
  border-color 			: #E05E00 !important;
}

#statusclick{
	padding: 0 !important
}

#statusclick li {
	padding	:5px;
}

#statusclick li.active{
	background: #337ab7;
	color: white;
}